{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.trace {:mvn/version "0.7.10"}
        quil/quil {:mvn/version "2.6.0"
                   :exclusions [com.lowagie/itext]}}}

